# AWS Credentials
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_DEFAULT_REGION=your_aws_default_region

# S3 Bucket Details
S3_BUCKET_NAME=your_s3_bucket_name

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key

# LLM Provider
LLM_PROVIDER=your_llm_provider