WEB_APP_URL=http://host.docker.internal:3000/api/project/
KAFKA_CLIENT_ID=background-job-service
KAFKA_GROUP_ID_PROCESS_PROJECT=background-job-service-process-video
KAFKA_GROUP_ID_PROCESS_EMBEDDING=background-job-service-process-embedding
KAFKA_BROKER=kafka-host.docker.internal:9092
