# AWS Configuration
VIDEO_BUCKET_NAME="your_video_bucket_name"
AWS_REGION="your_aws_region"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"

# Kafka Configuration
KAFKA_CLIENT_ID="your_kafka_client_id"
KAFKA_TOPIC="your_kafka_topic"
KAFKA_GROUP_ID="your_kafka_group_id"
KAFKA_BROKER="your_kafka_broker"

# JWT Configuration
JWT_SECRET="your_jwt_secret"

# Service URLs
BACKGROUND_JOB_URL="your_background_job_url"
MCQ_SERVICE_URL="your_mcq_service_url"

# Database Configuration
DATABASE_URL="your_database_url"

# WebSocket Configuration
NEXT_PUBLIC_AI_WEB_SOCKET_URL="your_ai_web_socket_url"