# AWS Credentials
aws_access_key_id="your_aws_access_key_id"
aws_secret_access_key="your_aws_secret_access_key"
region_name="your_aws_region"

# AWS S3 Configuration
AWS_BUCKET="your_aws_bucket_name"
S3_DIRECTORY="your_s3_directory"
OUTPUT_DIRECTORY="your_output_directory"
TEMP_DIRECTORY="your_temp_directory"

# Application Configuration
PORT="your_port_number"

# Project and Model Configuration
PROJECT_ID="your_project_id"
LOCATION="your_location"
MODEL_ID="your_model_id"