# AWS Credentials
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_DEFAULT_REGION=your_aws_default_region

# S3 Bucket Details
S3_BUCKET_NAME=your_s3_bucket_name

# Update Embedding Service URL
UPDATE_EMBEDDING_SERVICE_URL=your_update_embedding_service_url

# Kafka Configuration
KAFKA_TOPIC=your_kafka_topic
KAFKA_BROKER=your_kafka_broker